<% @title = "新規投稿" %>
<div class="page-title">
<h1>新規投稿</h1>
</div>
 <% if @article.errors.any? %>
  <div class="notification is-danger">
    <ul>
      <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <%= form_with model: @article, url: :articles do |f| %>
          <%= render "shared/form", f: f %>
          <%= f.submit '投稿', class: "button is-success" %>
        <% end %>
      </div>
    </div>
  </div>
</section>