@import "colors";
@import "sizes";

div#wrapper {
  div#container {
    div#login-form {
      width: 500px;
      margin: $wide * 2 auto;
      padding: $wide * 2;
      border-radius: $wide;
      border: solid 4px $blue;
      background-color: $white;
      opacity: 0.8;
      position: relative;
      h1 {
        background-color: transparent;
        color: $blue;
        font-size: $normal;
        font-weight: bold;
        text-align: center;
      }

      form {
        div {
          padding: $wide;
          label {
            display: block;
            padding: $moderate 0;
            text-align: left；
          }
          input[type="text"], input[type="password"] {
            padding: $wide;
            width: 460px - $wide * 4;
          }
          input[type="submit"] {
            padding: $wide $wide * 2;
            margin-left: 160px;
          }
        }
      }
    }
  }
}